*.sw*
*~
build/
bin/
node_modules/
vendor/
############## Visual Studio Stuff ###############
*.tmp
.ntvs_analysis.dat
*.suo
*.sln
*.njsproj
src/*.suo
src/*.sln
src/*.njsproj
src/.ntvs_analysis.dat
./src/*.suo
./src/*.sln
./src/*.njsproj
./src/.ntvs_analysis.dat